defaultEntryPoints = ["http", "https"]
#logLevel = "DEBUG"

[accessLog]
  filePath = "./log/access.log"

[traefikLog]
  filePath = "./log/traefik.log"

[entryPoints]

  [entryPoints.http]
  address = ":80"

  [entryPoints.https]
    address = ":443"
    [entryPoints.https.tls]


[acme]
  email = "axel.bock.mail@gmail.com"
  onDemand = true
  storage = "acme.json"
  caServer = "%%CASERVER%%"
  entryPoint = "https"

  [acme.httpChallenge]
    entryPoint = "http"


[file]

[frontends]

  [frontends.secure]
    entryPoints = ["http", "https"]
    backend = "site"
    passHostHeader = true
    priority = 1

    [frontends.secure.redirect]
      regex = "^http://(.*)"
      replacement = "https://$1"
      permanent = true

  [frontends.local]
    entryPoints = ["http"]
    backend = "site"
    passHostHeader = true

    [frontends.local.routes.test_1]
      rule = "Host: localhost,127.0.0.1"


[backends]

  [backends.site]
    [backends.site.servers.server1]
      url = "http://127.0.0.1:8000"
